.container{
	margin: 20px 100px;
	padding:10px;
	display: flex;
	flex-direction:column;
}
.sectionContainer{
	display: flex;
	justify-content:space-evenly;
	gap: 30px;
	margin: 10px 20px;
}
.blocks{
	width:100%;
	padding: 10px;
	justify-content:space-around;
}
.formContainer
{
	display: flex;
	gap: 10px;
	justify-content: start;
}
.task
{
	margin:10px;
	padding:10px;
	border: 1px solid;
}
.taskCont
{
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content:space-evenly ;
}

.HeadingSpan
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.new
{
	position: ;
	width:25%;
	margin-top: 100px;
	align-self: center;
}

.butt
{
	height:auto;
	width:auto;
	margin:20px;
	padding:10px;
}
