.container{
	margin: 20px 100px;
	padding:10px;
	border: 1px solid;
	display: flex;
	flex-direction:column;
}
.sectionContainer{
	display: flex;
	justify-content:space-evenly;
	gap: 30px;
	margin: 10px 20px;
}
.blocks{
	width:100%;
	padding: 10px;
	border: 1px solid;
}
